@function px2rem($px, $base-font-size: 16px) {
  @if (unitless($px)) {
    @return (($px+0px) / $base-font-size) * 1rem;
  } @else {
    @return ($px / $base-font-size) * 1rem;
  }
}

html, body {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  font-size: 1rem;
}

@for $i from 1 through 51 {
  $fontSize: 9 + $i;
  .font-#{$fontSize} {
    font-size: px2rem($fontSize);
  }
}

@for $i from 0 through 50 {
  $space: $i;

  .u-m {

    &-#{$space}{
      margin: px2rem($space);
    }

    &-l-#{$space} {
      margin-left: px2rem($space);
    }

    &-t-#{$space} {
      margin-top: px2rem($space);
    }

    &-r-#{$space} {
      margin-right: px2rem($space);
    }

    &-b-#{$space} {
      margin-bottom: px2rem($space);
    }

    &-y-#{$space} {
      margin-top: px2rem($space);
      margin-bottom: px2rem($space);
    }

    &-x-#{$space} {
      margin-left: px2rem($space);
      margin-right: px2rem($space);
    }
  }

  .u-p{

    &-#{$space}{
      padding: px2rem($space);
    }

    &-l-#{$space} {
      padding-left: px2rem($space);
    }

    &-t-#{$space} {
      padding-top: px2rem($space);
    }

    &-r-#{$space} {
      padding-right: px2rem($space);
    }

    &-b-#{$space} {
      padding-bottom: px2rem($space);
    }

    &-y-#{$space} {
      padding-top: px2rem($space);
      padding-bottom: px2rem($space);
    }

    &-x-#{$space} {
      padding-left: px2rem($space);
      padding-right: px2rem($space);
    }
  }
}
