@charset "utf-8";
@import "base";
@import "error";

#__nuxt, #__layout {
  min-width: 100%;
  min-height: 100%;
}

#__layout {
  height: 100vh;
}

.page-enter,
.page-leave,
.page-enter-active,
.page-leave-active {
  transition: all .3s ease-out 0s;
}

.page-enter,
.page-leave-active {
  opacity: 0;
}

.page-enter-active {
  transform: translateY(0);
}

.page-enter {
  transform: translateY(50px);
}

.page-leave-active {
  transform: translateY(-50px);
}

.ant-form{
  label{
    margin-bottom: 0;
  }
}
