@charset "UTF-8";
html, body {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  font-size: 1rem; }

.font-10 {
  font-size: 0.625rem; }

.font-11 {
  font-size: 0.6875rem; }

.font-12 {
  font-size: 0.75rem; }

.font-13 {
  font-size: 0.8125rem; }

.font-14 {
  font-size: 0.875rem; }

.font-15 {
  font-size: 0.9375rem; }

.font-16 {
  font-size: 1rem; }

.font-17 {
  font-size: 1.0625rem; }

.font-18 {
  font-size: 1.125rem; }

.font-19 {
  font-size: 1.1875rem; }

.font-20 {
  font-size: 1.25rem; }

.font-21 {
  font-size: 1.3125rem; }

.font-22 {
  font-size: 1.375rem; }

.font-23 {
  font-size: 1.4375rem; }

.font-24 {
  font-size: 1.5rem; }

.font-25 {
  font-size: 1.5625rem; }

.font-26 {
  font-size: 1.625rem; }

.font-27 {
  font-size: 1.6875rem; }

.font-28 {
  font-size: 1.75rem; }

.font-29 {
  font-size: 1.8125rem; }

.font-30 {
  font-size: 1.875rem; }

.font-31 {
  font-size: 1.9375rem; }

.font-32 {
  font-size: 2rem; }

.font-33 {
  font-size: 2.0625rem; }

.font-34 {
  font-size: 2.125rem; }

.font-35 {
  font-size: 2.1875rem; }

.font-36 {
  font-size: 2.25rem; }

.font-37 {
  font-size: 2.3125rem; }

.font-38 {
  font-size: 2.375rem; }

.font-39 {
  font-size: 2.4375rem; }

.font-40 {
  font-size: 2.5rem; }

.font-41 {
  font-size: 2.5625rem; }

.font-42 {
  font-size: 2.625rem; }

.font-43 {
  font-size: 2.6875rem; }

.font-44 {
  font-size: 2.75rem; }

.font-45 {
  font-size: 2.8125rem; }

.font-46 {
  font-size: 2.875rem; }

.font-47 {
  font-size: 2.9375rem; }

.font-48 {
  font-size: 3rem; }

.font-49 {
  font-size: 3.0625rem; }

.font-50 {
  font-size: 3.125rem; }

.font-51 {
  font-size: 3.1875rem; }

.font-52 {
  font-size: 3.25rem; }

.font-53 {
  font-size: 3.3125rem; }

.font-54 {
  font-size: 3.375rem; }

.font-55 {
  font-size: 3.4375rem; }

.font-56 {
  font-size: 3.5rem; }

.font-57 {
  font-size: 3.5625rem; }

.font-58 {
  font-size: 3.625rem; }

.font-59 {
  font-size: 3.6875rem; }

.font-60 {
  font-size: 3.75rem; }

.u-m-0 {
  margin: 0rem; }
.u-m-l-0 {
  margin-left: 0rem; }
.u-m-t-0 {
  margin-top: 0rem; }
.u-m-r-0 {
  margin-right: 0rem; }
.u-m-b-0 {
  margin-bottom: 0rem; }
.u-m-y-0 {
  margin-top: 0rem;
  margin-bottom: 0rem; }
.u-m-x-0 {
  margin-left: 0rem;
  margin-right: 0rem; }

.u-p-0 {
  padding: 0rem; }
.u-p-l-0 {
  padding-left: 0rem; }
.u-p-t-0 {
  padding-top: 0rem; }
.u-p-r-0 {
  padding-right: 0rem; }
.u-p-b-0 {
  padding-bottom: 0rem; }
.u-p-y-0 {
  padding-top: 0rem;
  padding-bottom: 0rem; }
.u-p-x-0 {
  padding-left: 0rem;
  padding-right: 0rem; }

.u-m-1 {
  margin: 0.0625rem; }
.u-m-l-1 {
  margin-left: 0.0625rem; }
.u-m-t-1 {
  margin-top: 0.0625rem; }
.u-m-r-1 {
  margin-right: 0.0625rem; }
.u-m-b-1 {
  margin-bottom: 0.0625rem; }
.u-m-y-1 {
  margin-top: 0.0625rem;
  margin-bottom: 0.0625rem; }
.u-m-x-1 {
  margin-left: 0.0625rem;
  margin-right: 0.0625rem; }

.u-p-1 {
  padding: 0.0625rem; }
.u-p-l-1 {
  padding-left: 0.0625rem; }
.u-p-t-1 {
  padding-top: 0.0625rem; }
.u-p-r-1 {
  padding-right: 0.0625rem; }
.u-p-b-1 {
  padding-bottom: 0.0625rem; }
.u-p-y-1 {
  padding-top: 0.0625rem;
  padding-bottom: 0.0625rem; }
.u-p-x-1 {
  padding-left: 0.0625rem;
  padding-right: 0.0625rem; }

.u-m-2 {
  margin: 0.125rem; }
.u-m-l-2 {
  margin-left: 0.125rem; }
.u-m-t-2 {
  margin-top: 0.125rem; }
.u-m-r-2 {
  margin-right: 0.125rem; }
.u-m-b-2 {
  margin-bottom: 0.125rem; }
.u-m-y-2 {
  margin-top: 0.125rem;
  margin-bottom: 0.125rem; }
.u-m-x-2 {
  margin-left: 0.125rem;
  margin-right: 0.125rem; }

.u-p-2 {
  padding: 0.125rem; }
.u-p-l-2 {
  padding-left: 0.125rem; }
.u-p-t-2 {
  padding-top: 0.125rem; }
.u-p-r-2 {
  padding-right: 0.125rem; }
.u-p-b-2 {
  padding-bottom: 0.125rem; }
.u-p-y-2 {
  padding-top: 0.125rem;
  padding-bottom: 0.125rem; }
.u-p-x-2 {
  padding-left: 0.125rem;
  padding-right: 0.125rem; }

.u-m-3 {
  margin: 0.1875rem; }
.u-m-l-3 {
  margin-left: 0.1875rem; }
.u-m-t-3 {
  margin-top: 0.1875rem; }
.u-m-r-3 {
  margin-right: 0.1875rem; }
.u-m-b-3 {
  margin-bottom: 0.1875rem; }
.u-m-y-3 {
  margin-top: 0.1875rem;
  margin-bottom: 0.1875rem; }
.u-m-x-3 {
  margin-left: 0.1875rem;
  margin-right: 0.1875rem; }

.u-p-3 {
  padding: 0.1875rem; }
.u-p-l-3 {
  padding-left: 0.1875rem; }
.u-p-t-3 {
  padding-top: 0.1875rem; }
.u-p-r-3 {
  padding-right: 0.1875rem; }
.u-p-b-3 {
  padding-bottom: 0.1875rem; }
.u-p-y-3 {
  padding-top: 0.1875rem;
  padding-bottom: 0.1875rem; }
.u-p-x-3 {
  padding-left: 0.1875rem;
  padding-right: 0.1875rem; }

.u-m-4 {
  margin: 0.25rem; }
.u-m-l-4 {
  margin-left: 0.25rem; }
.u-m-t-4 {
  margin-top: 0.25rem; }
.u-m-r-4 {
  margin-right: 0.25rem; }
.u-m-b-4 {
  margin-bottom: 0.25rem; }
.u-m-y-4 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem; }
.u-m-x-4 {
  margin-left: 0.25rem;
  margin-right: 0.25rem; }

.u-p-4 {
  padding: 0.25rem; }
.u-p-l-4 {
  padding-left: 0.25rem; }
.u-p-t-4 {
  padding-top: 0.25rem; }
.u-p-r-4 {
  padding-right: 0.25rem; }
.u-p-b-4 {
  padding-bottom: 0.25rem; }
.u-p-y-4 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem; }
.u-p-x-4 {
  padding-left: 0.25rem;
  padding-right: 0.25rem; }

.u-m-5 {
  margin: 0.3125rem; }
.u-m-l-5 {
  margin-left: 0.3125rem; }
.u-m-t-5 {
  margin-top: 0.3125rem; }
.u-m-r-5 {
  margin-right: 0.3125rem; }
.u-m-b-5 {
  margin-bottom: 0.3125rem; }
.u-m-y-5 {
  margin-top: 0.3125rem;
  margin-bottom: 0.3125rem; }
.u-m-x-5 {
  margin-left: 0.3125rem;
  margin-right: 0.3125rem; }

.u-p-5 {
  padding: 0.3125rem; }
.u-p-l-5 {
  padding-left: 0.3125rem; }
.u-p-t-5 {
  padding-top: 0.3125rem; }
.u-p-r-5 {
  padding-right: 0.3125rem; }
.u-p-b-5 {
  padding-bottom: 0.3125rem; }
.u-p-y-5 {
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem; }
.u-p-x-5 {
  padding-left: 0.3125rem;
  padding-right: 0.3125rem; }

.u-m-6 {
  margin: 0.375rem; }
.u-m-l-6 {
  margin-left: 0.375rem; }
.u-m-t-6 {
  margin-top: 0.375rem; }
.u-m-r-6 {
  margin-right: 0.375rem; }
.u-m-b-6 {
  margin-bottom: 0.375rem; }
.u-m-y-6 {
  margin-top: 0.375rem;
  margin-bottom: 0.375rem; }
.u-m-x-6 {
  margin-left: 0.375rem;
  margin-right: 0.375rem; }

.u-p-6 {
  padding: 0.375rem; }
.u-p-l-6 {
  padding-left: 0.375rem; }
.u-p-t-6 {
  padding-top: 0.375rem; }
.u-p-r-6 {
  padding-right: 0.375rem; }
.u-p-b-6 {
  padding-bottom: 0.375rem; }
.u-p-y-6 {
  padding-top: 0.375rem;
  padding-bottom: 0.375rem; }
.u-p-x-6 {
  padding-left: 0.375rem;
  padding-right: 0.375rem; }

.u-m-7 {
  margin: 0.4375rem; }
.u-m-l-7 {
  margin-left: 0.4375rem; }
.u-m-t-7 {
  margin-top: 0.4375rem; }
.u-m-r-7 {
  margin-right: 0.4375rem; }
.u-m-b-7 {
  margin-bottom: 0.4375rem; }
.u-m-y-7 {
  margin-top: 0.4375rem;
  margin-bottom: 0.4375rem; }
.u-m-x-7 {
  margin-left: 0.4375rem;
  margin-right: 0.4375rem; }

.u-p-7 {
  padding: 0.4375rem; }
.u-p-l-7 {
  padding-left: 0.4375rem; }
.u-p-t-7 {
  padding-top: 0.4375rem; }
.u-p-r-7 {
  padding-right: 0.4375rem; }
.u-p-b-7 {
  padding-bottom: 0.4375rem; }
.u-p-y-7 {
  padding-top: 0.4375rem;
  padding-bottom: 0.4375rem; }
.u-p-x-7 {
  padding-left: 0.4375rem;
  padding-right: 0.4375rem; }

.u-m-8 {
  margin: 0.5rem; }
.u-m-l-8 {
  margin-left: 0.5rem; }
.u-m-t-8 {
  margin-top: 0.5rem; }
.u-m-r-8 {
  margin-right: 0.5rem; }
.u-m-b-8 {
  margin-bottom: 0.5rem; }
.u-m-y-8 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem; }
.u-m-x-8 {
  margin-left: 0.5rem;
  margin-right: 0.5rem; }

.u-p-8 {
  padding: 0.5rem; }
.u-p-l-8 {
  padding-left: 0.5rem; }
.u-p-t-8 {
  padding-top: 0.5rem; }
.u-p-r-8 {
  padding-right: 0.5rem; }
.u-p-b-8 {
  padding-bottom: 0.5rem; }
.u-p-y-8 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; }
.u-p-x-8 {
  padding-left: 0.5rem;
  padding-right: 0.5rem; }

.u-m-9 {
  margin: 0.5625rem; }
.u-m-l-9 {
  margin-left: 0.5625rem; }
.u-m-t-9 {
  margin-top: 0.5625rem; }
.u-m-r-9 {
  margin-right: 0.5625rem; }
.u-m-b-9 {
  margin-bottom: 0.5625rem; }
.u-m-y-9 {
  margin-top: 0.5625rem;
  margin-bottom: 0.5625rem; }
.u-m-x-9 {
  margin-left: 0.5625rem;
  margin-right: 0.5625rem; }

.u-p-9 {
  padding: 0.5625rem; }
.u-p-l-9 {
  padding-left: 0.5625rem; }
.u-p-t-9 {
  padding-top: 0.5625rem; }
.u-p-r-9 {
  padding-right: 0.5625rem; }
.u-p-b-9 {
  padding-bottom: 0.5625rem; }
.u-p-y-9 {
  padding-top: 0.5625rem;
  padding-bottom: 0.5625rem; }
.u-p-x-9 {
  padding-left: 0.5625rem;
  padding-right: 0.5625rem; }

.u-m-10 {
  margin: 0.625rem; }
.u-m-l-10 {
  margin-left: 0.625rem; }
.u-m-t-10 {
  margin-top: 0.625rem; }
.u-m-r-10 {
  margin-right: 0.625rem; }
.u-m-b-10 {
  margin-bottom: 0.625rem; }
.u-m-y-10 {
  margin-top: 0.625rem;
  margin-bottom: 0.625rem; }
.u-m-x-10 {
  margin-left: 0.625rem;
  margin-right: 0.625rem; }

.u-p-10 {
  padding: 0.625rem; }
.u-p-l-10 {
  padding-left: 0.625rem; }
.u-p-t-10 {
  padding-top: 0.625rem; }
.u-p-r-10 {
  padding-right: 0.625rem; }
.u-p-b-10 {
  padding-bottom: 0.625rem; }
.u-p-y-10 {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem; }
.u-p-x-10 {
  padding-left: 0.625rem;
  padding-right: 0.625rem; }

.u-m-11 {
  margin: 0.6875rem; }
.u-m-l-11 {
  margin-left: 0.6875rem; }
.u-m-t-11 {
  margin-top: 0.6875rem; }
.u-m-r-11 {
  margin-right: 0.6875rem; }
.u-m-b-11 {
  margin-bottom: 0.6875rem; }
.u-m-y-11 {
  margin-top: 0.6875rem;
  margin-bottom: 0.6875rem; }
.u-m-x-11 {
  margin-left: 0.6875rem;
  margin-right: 0.6875rem; }

.u-p-11 {
  padding: 0.6875rem; }
.u-p-l-11 {
  padding-left: 0.6875rem; }
.u-p-t-11 {
  padding-top: 0.6875rem; }
.u-p-r-11 {
  padding-right: 0.6875rem; }
.u-p-b-11 {
  padding-bottom: 0.6875rem; }
.u-p-y-11 {
  padding-top: 0.6875rem;
  padding-bottom: 0.6875rem; }
.u-p-x-11 {
  padding-left: 0.6875rem;
  padding-right: 0.6875rem; }

.u-m-12 {
  margin: 0.75rem; }
.u-m-l-12 {
  margin-left: 0.75rem; }
.u-m-t-12 {
  margin-top: 0.75rem; }
.u-m-r-12 {
  margin-right: 0.75rem; }
.u-m-b-12 {
  margin-bottom: 0.75rem; }
.u-m-y-12 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem; }
.u-m-x-12 {
  margin-left: 0.75rem;
  margin-right: 0.75rem; }

.u-p-12 {
  padding: 0.75rem; }
.u-p-l-12 {
  padding-left: 0.75rem; }
.u-p-t-12 {
  padding-top: 0.75rem; }
.u-p-r-12 {
  padding-right: 0.75rem; }
.u-p-b-12 {
  padding-bottom: 0.75rem; }
.u-p-y-12 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem; }
.u-p-x-12 {
  padding-left: 0.75rem;
  padding-right: 0.75rem; }

.u-m-13 {
  margin: 0.8125rem; }
.u-m-l-13 {
  margin-left: 0.8125rem; }
.u-m-t-13 {
  margin-top: 0.8125rem; }
.u-m-r-13 {
  margin-right: 0.8125rem; }
.u-m-b-13 {
  margin-bottom: 0.8125rem; }
.u-m-y-13 {
  margin-top: 0.8125rem;
  margin-bottom: 0.8125rem; }
.u-m-x-13 {
  margin-left: 0.8125rem;
  margin-right: 0.8125rem; }

.u-p-13 {
  padding: 0.8125rem; }
.u-p-l-13 {
  padding-left: 0.8125rem; }
.u-p-t-13 {
  padding-top: 0.8125rem; }
.u-p-r-13 {
  padding-right: 0.8125rem; }
.u-p-b-13 {
  padding-bottom: 0.8125rem; }
.u-p-y-13 {
  padding-top: 0.8125rem;
  padding-bottom: 0.8125rem; }
.u-p-x-13 {
  padding-left: 0.8125rem;
  padding-right: 0.8125rem; }

.u-m-14 {
  margin: 0.875rem; }
.u-m-l-14 {
  margin-left: 0.875rem; }
.u-m-t-14 {
  margin-top: 0.875rem; }
.u-m-r-14 {
  margin-right: 0.875rem; }
.u-m-b-14 {
  margin-bottom: 0.875rem; }
.u-m-y-14 {
  margin-top: 0.875rem;
  margin-bottom: 0.875rem; }
.u-m-x-14 {
  margin-left: 0.875rem;
  margin-right: 0.875rem; }

.u-p-14 {
  padding: 0.875rem; }
.u-p-l-14 {
  padding-left: 0.875rem; }
.u-p-t-14 {
  padding-top: 0.875rem; }
.u-p-r-14 {
  padding-right: 0.875rem; }
.u-p-b-14 {
  padding-bottom: 0.875rem; }
.u-p-y-14 {
  padding-top: 0.875rem;
  padding-bottom: 0.875rem; }
.u-p-x-14 {
  padding-left: 0.875rem;
  padding-right: 0.875rem; }

.u-m-15 {
  margin: 0.9375rem; }
.u-m-l-15 {
  margin-left: 0.9375rem; }
.u-m-t-15 {
  margin-top: 0.9375rem; }
.u-m-r-15 {
  margin-right: 0.9375rem; }
.u-m-b-15 {
  margin-bottom: 0.9375rem; }
.u-m-y-15 {
  margin-top: 0.9375rem;
  margin-bottom: 0.9375rem; }
.u-m-x-15 {
  margin-left: 0.9375rem;
  margin-right: 0.9375rem; }

.u-p-15 {
  padding: 0.9375rem; }
.u-p-l-15 {
  padding-left: 0.9375rem; }
.u-p-t-15 {
  padding-top: 0.9375rem; }
.u-p-r-15 {
  padding-right: 0.9375rem; }
.u-p-b-15 {
  padding-bottom: 0.9375rem; }
.u-p-y-15 {
  padding-top: 0.9375rem;
  padding-bottom: 0.9375rem; }
.u-p-x-15 {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem; }

.u-m-16 {
  margin: 1rem; }
.u-m-l-16 {
  margin-left: 1rem; }
.u-m-t-16 {
  margin-top: 1rem; }
.u-m-r-16 {
  margin-right: 1rem; }
.u-m-b-16 {
  margin-bottom: 1rem; }
.u-m-y-16 {
  margin-top: 1rem;
  margin-bottom: 1rem; }
.u-m-x-16 {
  margin-left: 1rem;
  margin-right: 1rem; }

.u-p-16 {
  padding: 1rem; }
.u-p-l-16 {
  padding-left: 1rem; }
.u-p-t-16 {
  padding-top: 1rem; }
.u-p-r-16 {
  padding-right: 1rem; }
.u-p-b-16 {
  padding-bottom: 1rem; }
.u-p-y-16 {
  padding-top: 1rem;
  padding-bottom: 1rem; }
.u-p-x-16 {
  padding-left: 1rem;
  padding-right: 1rem; }

.u-m-17 {
  margin: 1.0625rem; }
.u-m-l-17 {
  margin-left: 1.0625rem; }
.u-m-t-17 {
  margin-top: 1.0625rem; }
.u-m-r-17 {
  margin-right: 1.0625rem; }
.u-m-b-17 {
  margin-bottom: 1.0625rem; }
.u-m-y-17 {
  margin-top: 1.0625rem;
  margin-bottom: 1.0625rem; }
.u-m-x-17 {
  margin-left: 1.0625rem;
  margin-right: 1.0625rem; }

.u-p-17 {
  padding: 1.0625rem; }
.u-p-l-17 {
  padding-left: 1.0625rem; }
.u-p-t-17 {
  padding-top: 1.0625rem; }
.u-p-r-17 {
  padding-right: 1.0625rem; }
.u-p-b-17 {
  padding-bottom: 1.0625rem; }
.u-p-y-17 {
  padding-top: 1.0625rem;
  padding-bottom: 1.0625rem; }
.u-p-x-17 {
  padding-left: 1.0625rem;
  padding-right: 1.0625rem; }

.u-m-18 {
  margin: 1.125rem; }
.u-m-l-18 {
  margin-left: 1.125rem; }
.u-m-t-18 {
  margin-top: 1.125rem; }
.u-m-r-18 {
  margin-right: 1.125rem; }
.u-m-b-18 {
  margin-bottom: 1.125rem; }
.u-m-y-18 {
  margin-top: 1.125rem;
  margin-bottom: 1.125rem; }
.u-m-x-18 {
  margin-left: 1.125rem;
  margin-right: 1.125rem; }

.u-p-18 {
  padding: 1.125rem; }
.u-p-l-18 {
  padding-left: 1.125rem; }
.u-p-t-18 {
  padding-top: 1.125rem; }
.u-p-r-18 {
  padding-right: 1.125rem; }
.u-p-b-18 {
  padding-bottom: 1.125rem; }
.u-p-y-18 {
  padding-top: 1.125rem;
  padding-bottom: 1.125rem; }
.u-p-x-18 {
  padding-left: 1.125rem;
  padding-right: 1.125rem; }

.u-m-19 {
  margin: 1.1875rem; }
.u-m-l-19 {
  margin-left: 1.1875rem; }
.u-m-t-19 {
  margin-top: 1.1875rem; }
.u-m-r-19 {
  margin-right: 1.1875rem; }
.u-m-b-19 {
  margin-bottom: 1.1875rem; }
.u-m-y-19 {
  margin-top: 1.1875rem;
  margin-bottom: 1.1875rem; }
.u-m-x-19 {
  margin-left: 1.1875rem;
  margin-right: 1.1875rem; }

.u-p-19 {
  padding: 1.1875rem; }
.u-p-l-19 {
  padding-left: 1.1875rem; }
.u-p-t-19 {
  padding-top: 1.1875rem; }
.u-p-r-19 {
  padding-right: 1.1875rem; }
.u-p-b-19 {
  padding-bottom: 1.1875rem; }
.u-p-y-19 {
  padding-top: 1.1875rem;
  padding-bottom: 1.1875rem; }
.u-p-x-19 {
  padding-left: 1.1875rem;
  padding-right: 1.1875rem; }

.u-m-20 {
  margin: 1.25rem; }
.u-m-l-20 {
  margin-left: 1.25rem; }
.u-m-t-20 {
  margin-top: 1.25rem; }
.u-m-r-20 {
  margin-right: 1.25rem; }
.u-m-b-20 {
  margin-bottom: 1.25rem; }
.u-m-y-20 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem; }
.u-m-x-20 {
  margin-left: 1.25rem;
  margin-right: 1.25rem; }

.u-p-20 {
  padding: 1.25rem; }
.u-p-l-20 {
  padding-left: 1.25rem; }
.u-p-t-20 {
  padding-top: 1.25rem; }
.u-p-r-20 {
  padding-right: 1.25rem; }
.u-p-b-20 {
  padding-bottom: 1.25rem; }
.u-p-y-20 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem; }
.u-p-x-20 {
  padding-left: 1.25rem;
  padding-right: 1.25rem; }

.u-m-21 {
  margin: 1.3125rem; }
.u-m-l-21 {
  margin-left: 1.3125rem; }
.u-m-t-21 {
  margin-top: 1.3125rem; }
.u-m-r-21 {
  margin-right: 1.3125rem; }
.u-m-b-21 {
  margin-bottom: 1.3125rem; }
.u-m-y-21 {
  margin-top: 1.3125rem;
  margin-bottom: 1.3125rem; }
.u-m-x-21 {
  margin-left: 1.3125rem;
  margin-right: 1.3125rem; }

.u-p-21 {
  padding: 1.3125rem; }
.u-p-l-21 {
  padding-left: 1.3125rem; }
.u-p-t-21 {
  padding-top: 1.3125rem; }
.u-p-r-21 {
  padding-right: 1.3125rem; }
.u-p-b-21 {
  padding-bottom: 1.3125rem; }
.u-p-y-21 {
  padding-top: 1.3125rem;
  padding-bottom: 1.3125rem; }
.u-p-x-21 {
  padding-left: 1.3125rem;
  padding-right: 1.3125rem; }

.u-m-22 {
  margin: 1.375rem; }
.u-m-l-22 {
  margin-left: 1.375rem; }
.u-m-t-22 {
  margin-top: 1.375rem; }
.u-m-r-22 {
  margin-right: 1.375rem; }
.u-m-b-22 {
  margin-bottom: 1.375rem; }
.u-m-y-22 {
  margin-top: 1.375rem;
  margin-bottom: 1.375rem; }
.u-m-x-22 {
  margin-left: 1.375rem;
  margin-right: 1.375rem; }

.u-p-22 {
  padding: 1.375rem; }
.u-p-l-22 {
  padding-left: 1.375rem; }
.u-p-t-22 {
  padding-top: 1.375rem; }
.u-p-r-22 {
  padding-right: 1.375rem; }
.u-p-b-22 {
  padding-bottom: 1.375rem; }
.u-p-y-22 {
  padding-top: 1.375rem;
  padding-bottom: 1.375rem; }
.u-p-x-22 {
  padding-left: 1.375rem;
  padding-right: 1.375rem; }

.u-m-23 {
  margin: 1.4375rem; }
.u-m-l-23 {
  margin-left: 1.4375rem; }
.u-m-t-23 {
  margin-top: 1.4375rem; }
.u-m-r-23 {
  margin-right: 1.4375rem; }
.u-m-b-23 {
  margin-bottom: 1.4375rem; }
.u-m-y-23 {
  margin-top: 1.4375rem;
  margin-bottom: 1.4375rem; }
.u-m-x-23 {
  margin-left: 1.4375rem;
  margin-right: 1.4375rem; }

.u-p-23 {
  padding: 1.4375rem; }
.u-p-l-23 {
  padding-left: 1.4375rem; }
.u-p-t-23 {
  padding-top: 1.4375rem; }
.u-p-r-23 {
  padding-right: 1.4375rem; }
.u-p-b-23 {
  padding-bottom: 1.4375rem; }
.u-p-y-23 {
  padding-top: 1.4375rem;
  padding-bottom: 1.4375rem; }
.u-p-x-23 {
  padding-left: 1.4375rem;
  padding-right: 1.4375rem; }

.u-m-24 {
  margin: 1.5rem; }
.u-m-l-24 {
  margin-left: 1.5rem; }
.u-m-t-24 {
  margin-top: 1.5rem; }
.u-m-r-24 {
  margin-right: 1.5rem; }
.u-m-b-24 {
  margin-bottom: 1.5rem; }
.u-m-y-24 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; }
.u-m-x-24 {
  margin-left: 1.5rem;
  margin-right: 1.5rem; }

.u-p-24 {
  padding: 1.5rem; }
.u-p-l-24 {
  padding-left: 1.5rem; }
.u-p-t-24 {
  padding-top: 1.5rem; }
.u-p-r-24 {
  padding-right: 1.5rem; }
.u-p-b-24 {
  padding-bottom: 1.5rem; }
.u-p-y-24 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem; }
.u-p-x-24 {
  padding-left: 1.5rem;
  padding-right: 1.5rem; }

.u-m-25 {
  margin: 1.5625rem; }
.u-m-l-25 {
  margin-left: 1.5625rem; }
.u-m-t-25 {
  margin-top: 1.5625rem; }
.u-m-r-25 {
  margin-right: 1.5625rem; }
.u-m-b-25 {
  margin-bottom: 1.5625rem; }
.u-m-y-25 {
  margin-top: 1.5625rem;
  margin-bottom: 1.5625rem; }
.u-m-x-25 {
  margin-left: 1.5625rem;
  margin-right: 1.5625rem; }

.u-p-25 {
  padding: 1.5625rem; }
.u-p-l-25 {
  padding-left: 1.5625rem; }
.u-p-t-25 {
  padding-top: 1.5625rem; }
.u-p-r-25 {
  padding-right: 1.5625rem; }
.u-p-b-25 {
  padding-bottom: 1.5625rem; }
.u-p-y-25 {
  padding-top: 1.5625rem;
  padding-bottom: 1.5625rem; }
.u-p-x-25 {
  padding-left: 1.5625rem;
  padding-right: 1.5625rem; }

.u-m-26 {
  margin: 1.625rem; }
.u-m-l-26 {
  margin-left: 1.625rem; }
.u-m-t-26 {
  margin-top: 1.625rem; }
.u-m-r-26 {
  margin-right: 1.625rem; }
.u-m-b-26 {
  margin-bottom: 1.625rem; }
.u-m-y-26 {
  margin-top: 1.625rem;
  margin-bottom: 1.625rem; }
.u-m-x-26 {
  margin-left: 1.625rem;
  margin-right: 1.625rem; }

.u-p-26 {
  padding: 1.625rem; }
.u-p-l-26 {
  padding-left: 1.625rem; }
.u-p-t-26 {
  padding-top: 1.625rem; }
.u-p-r-26 {
  padding-right: 1.625rem; }
.u-p-b-26 {
  padding-bottom: 1.625rem; }
.u-p-y-26 {
  padding-top: 1.625rem;
  padding-bottom: 1.625rem; }
.u-p-x-26 {
  padding-left: 1.625rem;
  padding-right: 1.625rem; }

.u-m-27 {
  margin: 1.6875rem; }
.u-m-l-27 {
  margin-left: 1.6875rem; }
.u-m-t-27 {
  margin-top: 1.6875rem; }
.u-m-r-27 {
  margin-right: 1.6875rem; }
.u-m-b-27 {
  margin-bottom: 1.6875rem; }
.u-m-y-27 {
  margin-top: 1.6875rem;
  margin-bottom: 1.6875rem; }
.u-m-x-27 {
  margin-left: 1.6875rem;
  margin-right: 1.6875rem; }

.u-p-27 {
  padding: 1.6875rem; }
.u-p-l-27 {
  padding-left: 1.6875rem; }
.u-p-t-27 {
  padding-top: 1.6875rem; }
.u-p-r-27 {
  padding-right: 1.6875rem; }
.u-p-b-27 {
  padding-bottom: 1.6875rem; }
.u-p-y-27 {
  padding-top: 1.6875rem;
  padding-bottom: 1.6875rem; }
.u-p-x-27 {
  padding-left: 1.6875rem;
  padding-right: 1.6875rem; }

.u-m-28 {
  margin: 1.75rem; }
.u-m-l-28 {
  margin-left: 1.75rem; }
.u-m-t-28 {
  margin-top: 1.75rem; }
.u-m-r-28 {
  margin-right: 1.75rem; }
.u-m-b-28 {
  margin-bottom: 1.75rem; }
.u-m-y-28 {
  margin-top: 1.75rem;
  margin-bottom: 1.75rem; }
.u-m-x-28 {
  margin-left: 1.75rem;
  margin-right: 1.75rem; }

.u-p-28 {
  padding: 1.75rem; }
.u-p-l-28 {
  padding-left: 1.75rem; }
.u-p-t-28 {
  padding-top: 1.75rem; }
.u-p-r-28 {
  padding-right: 1.75rem; }
.u-p-b-28 {
  padding-bottom: 1.75rem; }
.u-p-y-28 {
  padding-top: 1.75rem;
  padding-bottom: 1.75rem; }
.u-p-x-28 {
  padding-left: 1.75rem;
  padding-right: 1.75rem; }

.u-m-29 {
  margin: 1.8125rem; }
.u-m-l-29 {
  margin-left: 1.8125rem; }
.u-m-t-29 {
  margin-top: 1.8125rem; }
.u-m-r-29 {
  margin-right: 1.8125rem; }
.u-m-b-29 {
  margin-bottom: 1.8125rem; }
.u-m-y-29 {
  margin-top: 1.8125rem;
  margin-bottom: 1.8125rem; }
.u-m-x-29 {
  margin-left: 1.8125rem;
  margin-right: 1.8125rem; }

.u-p-29 {
  padding: 1.8125rem; }
.u-p-l-29 {
  padding-left: 1.8125rem; }
.u-p-t-29 {
  padding-top: 1.8125rem; }
.u-p-r-29 {
  padding-right: 1.8125rem; }
.u-p-b-29 {
  padding-bottom: 1.8125rem; }
.u-p-y-29 {
  padding-top: 1.8125rem;
  padding-bottom: 1.8125rem; }
.u-p-x-29 {
  padding-left: 1.8125rem;
  padding-right: 1.8125rem; }

.u-m-30 {
  margin: 1.875rem; }
.u-m-l-30 {
  margin-left: 1.875rem; }
.u-m-t-30 {
  margin-top: 1.875rem; }
.u-m-r-30 {
  margin-right: 1.875rem; }
.u-m-b-30 {
  margin-bottom: 1.875rem; }
.u-m-y-30 {
  margin-top: 1.875rem;
  margin-bottom: 1.875rem; }
.u-m-x-30 {
  margin-left: 1.875rem;
  margin-right: 1.875rem; }

.u-p-30 {
  padding: 1.875rem; }
.u-p-l-30 {
  padding-left: 1.875rem; }
.u-p-t-30 {
  padding-top: 1.875rem; }
.u-p-r-30 {
  padding-right: 1.875rem; }
.u-p-b-30 {
  padding-bottom: 1.875rem; }
.u-p-y-30 {
  padding-top: 1.875rem;
  padding-bottom: 1.875rem; }
.u-p-x-30 {
  padding-left: 1.875rem;
  padding-right: 1.875rem; }

.u-m-31 {
  margin: 1.9375rem; }
.u-m-l-31 {
  margin-left: 1.9375rem; }
.u-m-t-31 {
  margin-top: 1.9375rem; }
.u-m-r-31 {
  margin-right: 1.9375rem; }
.u-m-b-31 {
  margin-bottom: 1.9375rem; }
.u-m-y-31 {
  margin-top: 1.9375rem;
  margin-bottom: 1.9375rem; }
.u-m-x-31 {
  margin-left: 1.9375rem;
  margin-right: 1.9375rem; }

.u-p-31 {
  padding: 1.9375rem; }
.u-p-l-31 {
  padding-left: 1.9375rem; }
.u-p-t-31 {
  padding-top: 1.9375rem; }
.u-p-r-31 {
  padding-right: 1.9375rem; }
.u-p-b-31 {
  padding-bottom: 1.9375rem; }
.u-p-y-31 {
  padding-top: 1.9375rem;
  padding-bottom: 1.9375rem; }
.u-p-x-31 {
  padding-left: 1.9375rem;
  padding-right: 1.9375rem; }

.u-m-32 {
  margin: 2rem; }
.u-m-l-32 {
  margin-left: 2rem; }
.u-m-t-32 {
  margin-top: 2rem; }
.u-m-r-32 {
  margin-right: 2rem; }
.u-m-b-32 {
  margin-bottom: 2rem; }
.u-m-y-32 {
  margin-top: 2rem;
  margin-bottom: 2rem; }
.u-m-x-32 {
  margin-left: 2rem;
  margin-right: 2rem; }

.u-p-32 {
  padding: 2rem; }
.u-p-l-32 {
  padding-left: 2rem; }
.u-p-t-32 {
  padding-top: 2rem; }
.u-p-r-32 {
  padding-right: 2rem; }
.u-p-b-32 {
  padding-bottom: 2rem; }
.u-p-y-32 {
  padding-top: 2rem;
  padding-bottom: 2rem; }
.u-p-x-32 {
  padding-left: 2rem;
  padding-right: 2rem; }

.u-m-33 {
  margin: 2.0625rem; }
.u-m-l-33 {
  margin-left: 2.0625rem; }
.u-m-t-33 {
  margin-top: 2.0625rem; }
.u-m-r-33 {
  margin-right: 2.0625rem; }
.u-m-b-33 {
  margin-bottom: 2.0625rem; }
.u-m-y-33 {
  margin-top: 2.0625rem;
  margin-bottom: 2.0625rem; }
.u-m-x-33 {
  margin-left: 2.0625rem;
  margin-right: 2.0625rem; }

.u-p-33 {
  padding: 2.0625rem; }
.u-p-l-33 {
  padding-left: 2.0625rem; }
.u-p-t-33 {
  padding-top: 2.0625rem; }
.u-p-r-33 {
  padding-right: 2.0625rem; }
.u-p-b-33 {
  padding-bottom: 2.0625rem; }
.u-p-y-33 {
  padding-top: 2.0625rem;
  padding-bottom: 2.0625rem; }
.u-p-x-33 {
  padding-left: 2.0625rem;
  padding-right: 2.0625rem; }

.u-m-34 {
  margin: 2.125rem; }
.u-m-l-34 {
  margin-left: 2.125rem; }
.u-m-t-34 {
  margin-top: 2.125rem; }
.u-m-r-34 {
  margin-right: 2.125rem; }
.u-m-b-34 {
  margin-bottom: 2.125rem; }
.u-m-y-34 {
  margin-top: 2.125rem;
  margin-bottom: 2.125rem; }
.u-m-x-34 {
  margin-left: 2.125rem;
  margin-right: 2.125rem; }

.u-p-34 {
  padding: 2.125rem; }
.u-p-l-34 {
  padding-left: 2.125rem; }
.u-p-t-34 {
  padding-top: 2.125rem; }
.u-p-r-34 {
  padding-right: 2.125rem; }
.u-p-b-34 {
  padding-bottom: 2.125rem; }
.u-p-y-34 {
  padding-top: 2.125rem;
  padding-bottom: 2.125rem; }
.u-p-x-34 {
  padding-left: 2.125rem;
  padding-right: 2.125rem; }

.u-m-35 {
  margin: 2.1875rem; }
.u-m-l-35 {
  margin-left: 2.1875rem; }
.u-m-t-35 {
  margin-top: 2.1875rem; }
.u-m-r-35 {
  margin-right: 2.1875rem; }
.u-m-b-35 {
  margin-bottom: 2.1875rem; }
.u-m-y-35 {
  margin-top: 2.1875rem;
  margin-bottom: 2.1875rem; }
.u-m-x-35 {
  margin-left: 2.1875rem;
  margin-right: 2.1875rem; }

.u-p-35 {
  padding: 2.1875rem; }
.u-p-l-35 {
  padding-left: 2.1875rem; }
.u-p-t-35 {
  padding-top: 2.1875rem; }
.u-p-r-35 {
  padding-right: 2.1875rem; }
.u-p-b-35 {
  padding-bottom: 2.1875rem; }
.u-p-y-35 {
  padding-top: 2.1875rem;
  padding-bottom: 2.1875rem; }
.u-p-x-35 {
  padding-left: 2.1875rem;
  padding-right: 2.1875rem; }

.u-m-36 {
  margin: 2.25rem; }
.u-m-l-36 {
  margin-left: 2.25rem; }
.u-m-t-36 {
  margin-top: 2.25rem; }
.u-m-r-36 {
  margin-right: 2.25rem; }
.u-m-b-36 {
  margin-bottom: 2.25rem; }
.u-m-y-36 {
  margin-top: 2.25rem;
  margin-bottom: 2.25rem; }
.u-m-x-36 {
  margin-left: 2.25rem;
  margin-right: 2.25rem; }

.u-p-36 {
  padding: 2.25rem; }
.u-p-l-36 {
  padding-left: 2.25rem; }
.u-p-t-36 {
  padding-top: 2.25rem; }
.u-p-r-36 {
  padding-right: 2.25rem; }
.u-p-b-36 {
  padding-bottom: 2.25rem; }
.u-p-y-36 {
  padding-top: 2.25rem;
  padding-bottom: 2.25rem; }
.u-p-x-36 {
  padding-left: 2.25rem;
  padding-right: 2.25rem; }

.u-m-37 {
  margin: 2.3125rem; }
.u-m-l-37 {
  margin-left: 2.3125rem; }
.u-m-t-37 {
  margin-top: 2.3125rem; }
.u-m-r-37 {
  margin-right: 2.3125rem; }
.u-m-b-37 {
  margin-bottom: 2.3125rem; }
.u-m-y-37 {
  margin-top: 2.3125rem;
  margin-bottom: 2.3125rem; }
.u-m-x-37 {
  margin-left: 2.3125rem;
  margin-right: 2.3125rem; }

.u-p-37 {
  padding: 2.3125rem; }
.u-p-l-37 {
  padding-left: 2.3125rem; }
.u-p-t-37 {
  padding-top: 2.3125rem; }
.u-p-r-37 {
  padding-right: 2.3125rem; }
.u-p-b-37 {
  padding-bottom: 2.3125rem; }
.u-p-y-37 {
  padding-top: 2.3125rem;
  padding-bottom: 2.3125rem; }
.u-p-x-37 {
  padding-left: 2.3125rem;
  padding-right: 2.3125rem; }

.u-m-38 {
  margin: 2.375rem; }
.u-m-l-38 {
  margin-left: 2.375rem; }
.u-m-t-38 {
  margin-top: 2.375rem; }
.u-m-r-38 {
  margin-right: 2.375rem; }
.u-m-b-38 {
  margin-bottom: 2.375rem; }
.u-m-y-38 {
  margin-top: 2.375rem;
  margin-bottom: 2.375rem; }
.u-m-x-38 {
  margin-left: 2.375rem;
  margin-right: 2.375rem; }

.u-p-38 {
  padding: 2.375rem; }
.u-p-l-38 {
  padding-left: 2.375rem; }
.u-p-t-38 {
  padding-top: 2.375rem; }
.u-p-r-38 {
  padding-right: 2.375rem; }
.u-p-b-38 {
  padding-bottom: 2.375rem; }
.u-p-y-38 {
  padding-top: 2.375rem;
  padding-bottom: 2.375rem; }
.u-p-x-38 {
  padding-left: 2.375rem;
  padding-right: 2.375rem; }

.u-m-39 {
  margin: 2.4375rem; }
.u-m-l-39 {
  margin-left: 2.4375rem; }
.u-m-t-39 {
  margin-top: 2.4375rem; }
.u-m-r-39 {
  margin-right: 2.4375rem; }
.u-m-b-39 {
  margin-bottom: 2.4375rem; }
.u-m-y-39 {
  margin-top: 2.4375rem;
  margin-bottom: 2.4375rem; }
.u-m-x-39 {
  margin-left: 2.4375rem;
  margin-right: 2.4375rem; }

.u-p-39 {
  padding: 2.4375rem; }
.u-p-l-39 {
  padding-left: 2.4375rem; }
.u-p-t-39 {
  padding-top: 2.4375rem; }
.u-p-r-39 {
  padding-right: 2.4375rem; }
.u-p-b-39 {
  padding-bottom: 2.4375rem; }
.u-p-y-39 {
  padding-top: 2.4375rem;
  padding-bottom: 2.4375rem; }
.u-p-x-39 {
  padding-left: 2.4375rem;
  padding-right: 2.4375rem; }

.u-m-40 {
  margin: 2.5rem; }
.u-m-l-40 {
  margin-left: 2.5rem; }
.u-m-t-40 {
  margin-top: 2.5rem; }
.u-m-r-40 {
  margin-right: 2.5rem; }
.u-m-b-40 {
  margin-bottom: 2.5rem; }
.u-m-y-40 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem; }
.u-m-x-40 {
  margin-left: 2.5rem;
  margin-right: 2.5rem; }

.u-p-40 {
  padding: 2.5rem; }
.u-p-l-40 {
  padding-left: 2.5rem; }
.u-p-t-40 {
  padding-top: 2.5rem; }
.u-p-r-40 {
  padding-right: 2.5rem; }
.u-p-b-40 {
  padding-bottom: 2.5rem; }
.u-p-y-40 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem; }
.u-p-x-40 {
  padding-left: 2.5rem;
  padding-right: 2.5rem; }

.u-m-41 {
  margin: 2.5625rem; }
.u-m-l-41 {
  margin-left: 2.5625rem; }
.u-m-t-41 {
  margin-top: 2.5625rem; }
.u-m-r-41 {
  margin-right: 2.5625rem; }
.u-m-b-41 {
  margin-bottom: 2.5625rem; }
.u-m-y-41 {
  margin-top: 2.5625rem;
  margin-bottom: 2.5625rem; }
.u-m-x-41 {
  margin-left: 2.5625rem;
  margin-right: 2.5625rem; }

.u-p-41 {
  padding: 2.5625rem; }
.u-p-l-41 {
  padding-left: 2.5625rem; }
.u-p-t-41 {
  padding-top: 2.5625rem; }
.u-p-r-41 {
  padding-right: 2.5625rem; }
.u-p-b-41 {
  padding-bottom: 2.5625rem; }
.u-p-y-41 {
  padding-top: 2.5625rem;
  padding-bottom: 2.5625rem; }
.u-p-x-41 {
  padding-left: 2.5625rem;
  padding-right: 2.5625rem; }

.u-m-42 {
  margin: 2.625rem; }
.u-m-l-42 {
  margin-left: 2.625rem; }
.u-m-t-42 {
  margin-top: 2.625rem; }
.u-m-r-42 {
  margin-right: 2.625rem; }
.u-m-b-42 {
  margin-bottom: 2.625rem; }
.u-m-y-42 {
  margin-top: 2.625rem;
  margin-bottom: 2.625rem; }
.u-m-x-42 {
  margin-left: 2.625rem;
  margin-right: 2.625rem; }

.u-p-42 {
  padding: 2.625rem; }
.u-p-l-42 {
  padding-left: 2.625rem; }
.u-p-t-42 {
  padding-top: 2.625rem; }
.u-p-r-42 {
  padding-right: 2.625rem; }
.u-p-b-42 {
  padding-bottom: 2.625rem; }
.u-p-y-42 {
  padding-top: 2.625rem;
  padding-bottom: 2.625rem; }
.u-p-x-42 {
  padding-left: 2.625rem;
  padding-right: 2.625rem; }

.u-m-43 {
  margin: 2.6875rem; }
.u-m-l-43 {
  margin-left: 2.6875rem; }
.u-m-t-43 {
  margin-top: 2.6875rem; }
.u-m-r-43 {
  margin-right: 2.6875rem; }
.u-m-b-43 {
  margin-bottom: 2.6875rem; }
.u-m-y-43 {
  margin-top: 2.6875rem;
  margin-bottom: 2.6875rem; }
.u-m-x-43 {
  margin-left: 2.6875rem;
  margin-right: 2.6875rem; }

.u-p-43 {
  padding: 2.6875rem; }
.u-p-l-43 {
  padding-left: 2.6875rem; }
.u-p-t-43 {
  padding-top: 2.6875rem; }
.u-p-r-43 {
  padding-right: 2.6875rem; }
.u-p-b-43 {
  padding-bottom: 2.6875rem; }
.u-p-y-43 {
  padding-top: 2.6875rem;
  padding-bottom: 2.6875rem; }
.u-p-x-43 {
  padding-left: 2.6875rem;
  padding-right: 2.6875rem; }

.u-m-44 {
  margin: 2.75rem; }
.u-m-l-44 {
  margin-left: 2.75rem; }
.u-m-t-44 {
  margin-top: 2.75rem; }
.u-m-r-44 {
  margin-right: 2.75rem; }
.u-m-b-44 {
  margin-bottom: 2.75rem; }
.u-m-y-44 {
  margin-top: 2.75rem;
  margin-bottom: 2.75rem; }
.u-m-x-44 {
  margin-left: 2.75rem;
  margin-right: 2.75rem; }

.u-p-44 {
  padding: 2.75rem; }
.u-p-l-44 {
  padding-left: 2.75rem; }
.u-p-t-44 {
  padding-top: 2.75rem; }
.u-p-r-44 {
  padding-right: 2.75rem; }
.u-p-b-44 {
  padding-bottom: 2.75rem; }
.u-p-y-44 {
  padding-top: 2.75rem;
  padding-bottom: 2.75rem; }
.u-p-x-44 {
  padding-left: 2.75rem;
  padding-right: 2.75rem; }

.u-m-45 {
  margin: 2.8125rem; }
.u-m-l-45 {
  margin-left: 2.8125rem; }
.u-m-t-45 {
  margin-top: 2.8125rem; }
.u-m-r-45 {
  margin-right: 2.8125rem; }
.u-m-b-45 {
  margin-bottom: 2.8125rem; }
.u-m-y-45 {
  margin-top: 2.8125rem;
  margin-bottom: 2.8125rem; }
.u-m-x-45 {
  margin-left: 2.8125rem;
  margin-right: 2.8125rem; }

.u-p-45 {
  padding: 2.8125rem; }
.u-p-l-45 {
  padding-left: 2.8125rem; }
.u-p-t-45 {
  padding-top: 2.8125rem; }
.u-p-r-45 {
  padding-right: 2.8125rem; }
.u-p-b-45 {
  padding-bottom: 2.8125rem; }
.u-p-y-45 {
  padding-top: 2.8125rem;
  padding-bottom: 2.8125rem; }
.u-p-x-45 {
  padding-left: 2.8125rem;
  padding-right: 2.8125rem; }

.u-m-46 {
  margin: 2.875rem; }
.u-m-l-46 {
  margin-left: 2.875rem; }
.u-m-t-46 {
  margin-top: 2.875rem; }
.u-m-r-46 {
  margin-right: 2.875rem; }
.u-m-b-46 {
  margin-bottom: 2.875rem; }
.u-m-y-46 {
  margin-top: 2.875rem;
  margin-bottom: 2.875rem; }
.u-m-x-46 {
  margin-left: 2.875rem;
  margin-right: 2.875rem; }

.u-p-46 {
  padding: 2.875rem; }
.u-p-l-46 {
  padding-left: 2.875rem; }
.u-p-t-46 {
  padding-top: 2.875rem; }
.u-p-r-46 {
  padding-right: 2.875rem; }
.u-p-b-46 {
  padding-bottom: 2.875rem; }
.u-p-y-46 {
  padding-top: 2.875rem;
  padding-bottom: 2.875rem; }
.u-p-x-46 {
  padding-left: 2.875rem;
  padding-right: 2.875rem; }

.u-m-47 {
  margin: 2.9375rem; }
.u-m-l-47 {
  margin-left: 2.9375rem; }
.u-m-t-47 {
  margin-top: 2.9375rem; }
.u-m-r-47 {
  margin-right: 2.9375rem; }
.u-m-b-47 {
  margin-bottom: 2.9375rem; }
.u-m-y-47 {
  margin-top: 2.9375rem;
  margin-bottom: 2.9375rem; }
.u-m-x-47 {
  margin-left: 2.9375rem;
  margin-right: 2.9375rem; }

.u-p-47 {
  padding: 2.9375rem; }
.u-p-l-47 {
  padding-left: 2.9375rem; }
.u-p-t-47 {
  padding-top: 2.9375rem; }
.u-p-r-47 {
  padding-right: 2.9375rem; }
.u-p-b-47 {
  padding-bottom: 2.9375rem; }
.u-p-y-47 {
  padding-top: 2.9375rem;
  padding-bottom: 2.9375rem; }
.u-p-x-47 {
  padding-left: 2.9375rem;
  padding-right: 2.9375rem; }

.u-m-48 {
  margin: 3rem; }
.u-m-l-48 {
  margin-left: 3rem; }
.u-m-t-48 {
  margin-top: 3rem; }
.u-m-r-48 {
  margin-right: 3rem; }
.u-m-b-48 {
  margin-bottom: 3rem; }
.u-m-y-48 {
  margin-top: 3rem;
  margin-bottom: 3rem; }
.u-m-x-48 {
  margin-left: 3rem;
  margin-right: 3rem; }

.u-p-48 {
  padding: 3rem; }
.u-p-l-48 {
  padding-left: 3rem; }
.u-p-t-48 {
  padding-top: 3rem; }
.u-p-r-48 {
  padding-right: 3rem; }
.u-p-b-48 {
  padding-bottom: 3rem; }
.u-p-y-48 {
  padding-top: 3rem;
  padding-bottom: 3rem; }
.u-p-x-48 {
  padding-left: 3rem;
  padding-right: 3rem; }

.u-m-49 {
  margin: 3.0625rem; }
.u-m-l-49 {
  margin-left: 3.0625rem; }
.u-m-t-49 {
  margin-top: 3.0625rem; }
.u-m-r-49 {
  margin-right: 3.0625rem; }
.u-m-b-49 {
  margin-bottom: 3.0625rem; }
.u-m-y-49 {
  margin-top: 3.0625rem;
  margin-bottom: 3.0625rem; }
.u-m-x-49 {
  margin-left: 3.0625rem;
  margin-right: 3.0625rem; }

.u-p-49 {
  padding: 3.0625rem; }
.u-p-l-49 {
  padding-left: 3.0625rem; }
.u-p-t-49 {
  padding-top: 3.0625rem; }
.u-p-r-49 {
  padding-right: 3.0625rem; }
.u-p-b-49 {
  padding-bottom: 3.0625rem; }
.u-p-y-49 {
  padding-top: 3.0625rem;
  padding-bottom: 3.0625rem; }
.u-p-x-49 {
  padding-left: 3.0625rem;
  padding-right: 3.0625rem; }

.u-m-50 {
  margin: 3.125rem; }
.u-m-l-50 {
  margin-left: 3.125rem; }
.u-m-t-50 {
  margin-top: 3.125rem; }
.u-m-r-50 {
  margin-right: 3.125rem; }
.u-m-b-50 {
  margin-bottom: 3.125rem; }
.u-m-y-50 {
  margin-top: 3.125rem;
  margin-bottom: 3.125rem; }
.u-m-x-50 {
  margin-left: 3.125rem;
  margin-right: 3.125rem; }

.u-p-50 {
  padding: 3.125rem; }
.u-p-l-50 {
  padding-left: 3.125rem; }
.u-p-t-50 {
  padding-top: 3.125rem; }
.u-p-r-50 {
  padding-right: 3.125rem; }
.u-p-b-50 {
  padding-bottom: 3.125rem; }
.u-p-y-50 {
  padding-top: 3.125rem;
  padding-bottom: 3.125rem; }
.u-p-x-50 {
  padding-left: 3.125rem;
  padding-right: 3.125rem; }

.error-container {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .error-container .error-content .pic-error {
    position: relative;
    float: left;
    max-width: 800px;
    min-width: 400px;
    overflow: hidden; }
    .error-container .error-content .pic-error-parent {
      width: 100%; }
    .error-container .error-content .pic-error-child {
      position: absolute; }
      .error-container .error-content .pic-error-child.left {
        top: 17px;
        left: 220px;
        width: 80px;
        opacity: 0;
        animation-name: cloudLeft;
        animation-duration: 2s;
        animation-timing-function: linear;
        animation-delay: 1s;
        animation-fill-mode: forwards; }
      .error-container .error-content .pic-error-child.mid {
        top: 10px;
        left: 420px;
        width: 46px;
        opacity: 0;
        animation-name: cloudMid;
        animation-duration: 2s;
        animation-timing-function: linear;
        animation-delay: 1.2s;
        animation-fill-mode: forwards; }
      .error-container .error-content .pic-error-child.right {
        top: 100px;
        left: 500px;
        width: 62px;
        opacity: 0;
        animation-name: cloudRight;
        animation-duration: 2s;
        animation-timing-function: linear;
        animation-delay: 1s;
        animation-fill-mode: forwards; }
@keyframes cloudLeft {
  0% {
    top: 17px;
    left: 220px;
    opacity: 0; }
  20% {
    top: 33px;
    left: 188px;
    opacity: 1; }
  80% {
    top: 81px;
    left: 92px;
    opacity: 1; }
  100% {
    top: 97px;
    left: 60px;
    opacity: 0; } }
@keyframes cloudMid {
  0% {
    top: 10px;
    left: 420px;
    opacity: 0; }
  20% {
    top: 40px;
    left: 360px;
    opacity: 1; }
  70% {
    top: 130px;
    left: 180px;
    opacity: 1; }
  100% {
    top: 160px;
    left: 120px;
    opacity: 0; } }
@keyframes cloudRight {
  0% {
    top: 100px;
    left: 500px;
    opacity: 0; }
  20% {
    top: 120px;
    left: 460px;
    opacity: 1; }
  80% {
    top: 180px;
    left: 340px;
    opacity: 1; }
  100% {
    top: 200px;
    left: 300px;
    opacity: 0; } }
  .error-container .error-content .bullshit {
    position: relative;
    float: left;
    width: 300px;
    padding: 30px 0;
    overflow: hidden; }
    .error-container .error-content .bullshit-oops {
      margin-bottom: 20px;
      font-size: 32px;
      font-weight: bold;
      line-height: 40px;
      color: #1890ff;
      opacity: 0;
      animation-name: slideUp;
      animation-duration: 0.5s;
      animation-fill-mode: forwards; }
    .error-container .error-content .bullshit-headline {
      margin-bottom: 10px;
      font-size: 20px;
      font-weight: bold;
      line-height: 24px;
      color: #222;
      opacity: 0;
      animation-name: slideUp;
      animation-duration: 0.5s;
      animation-delay: 0.1s;
      animation-fill-mode: forwards; }
    .error-container .error-content .bullshit-info {
      margin-bottom: 30px;
      font-size: 13px;
      line-height: 21px;
      color: rgba(0, 0, 0, 0.65);
      opacity: 0;
      animation-name: slideUp;
      animation-duration: 0.5s;
      animation-delay: 0.2s;
      animation-fill-mode: forwards; }
@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(60px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }
@font-face {
  font-family: 'iconfont';
  /* Project id 3197878 */
  src: url("//at.alicdn.com/t/font_3197878_wpc8dd28m5j.woff2?t=1647169934336") format("woff2"), url("//at.alicdn.com/t/font_3197878_wpc8dd28m5j.woff?t=1647169934336") format("woff"), url("//at.alicdn.com/t/font_3197878_wpc8dd28m5j.ttf?t=1647169934336") format("truetype"); }
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  vertical-align: middle; }

#__nuxt, #__layout {
  width: 100%;
  height: 100vh;
  overflow: hidden; }

.page-enter,
.page-leave,
.page-enter-active,
.page-leave-active {
  transition: all .3s ease-out 0s; }

.page-enter,
.page-leave-active {
  opacity: 0; }

.page-enter-active {
  transform: translateY(0); }

.page-enter {
  transform: translateY(50px); }

.page-leave-active {
  transform: translateY(-50px); }

.ant-form label {
  margin-bottom: 0; }

.anticon {
  vertical-align: text-top; }

.ant-input-number {
  width: auto; }

.happy-scroll-strip .happy-scroll-bar {
  opacity: .5 !important;
  cursor: pointer; }
.happy-scroll-strip:hover .happy-scroll-bar, .happy-scroll-strip.active .happy-scroll-bar {
  opacity: 1 !important; }

/*# sourceMappingURL=main.css.map */
