@charset "UTF-8";
html, body {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  font-size: 1rem; }

.font-10 {
  font-size: 0.625rem; }

.font-11 {
  font-size: 0.6875rem; }

.font-12 {
  font-size: 0.75rem; }

.font-13 {
  font-size: 0.8125rem; }

.font-14 {
  font-size: 0.875rem; }

.font-15 {
  font-size: 0.9375rem; }

.font-16 {
  font-size: 1rem; }

.font-17 {
  font-size: 1.0625rem; }

.font-18 {
  font-size: 1.125rem; }

.font-19 {
  font-size: 1.1875rem; }

.font-20 {
  font-size: 1.25rem; }

.font-21 {
  font-size: 1.3125rem; }

.font-22 {
  font-size: 1.375rem; }

.font-23 {
  font-size: 1.4375rem; }

.font-24 {
  font-size: 1.5rem; }

.font-25 {
  font-size: 1.5625rem; }

.font-26 {
  font-size: 1.625rem; }

.font-27 {
  font-size: 1.6875rem; }

.font-28 {
  font-size: 1.75rem; }

.font-29 {
  font-size: 1.8125rem; }

.font-30 {
  font-size: 1.875rem; }

.font-31 {
  font-size: 1.9375rem; }

.font-32 {
  font-size: 2rem; }

.font-33 {
  font-size: 2.0625rem; }

.font-34 {
  font-size: 2.125rem; }

.font-35 {
  font-size: 2.1875rem; }

.font-36 {
  font-size: 2.25rem; }

.font-37 {
  font-size: 2.3125rem; }

.font-38 {
  font-size: 2.375rem; }

.font-39 {
  font-size: 2.4375rem; }

.font-40 {
  font-size: 2.5rem; }

.font-41 {
  font-size: 2.5625rem; }

.font-42 {
  font-size: 2.625rem; }

.font-43 {
  font-size: 2.6875rem; }

.font-44 {
  font-size: 2.75rem; }

.font-45 {
  font-size: 2.8125rem; }

.font-46 {
  font-size: 2.875rem; }

.font-47 {
  font-size: 2.9375rem; }

.font-48 {
  font-size: 3rem; }

.font-49 {
  font-size: 3.0625rem; }

.font-50 {
  font-size: 3.125rem; }

.font-51 {
  font-size: 3.1875rem; }

.font-52 {
  font-size: 3.25rem; }

.font-53 {
  font-size: 3.3125rem; }

.font-54 {
  font-size: 3.375rem; }

.font-55 {
  font-size: 3.4375rem; }

.font-56 {
  font-size: 3.5rem; }

.font-57 {
  font-size: 3.5625rem; }

.font-58 {
  font-size: 3.625rem; }

.font-59 {
  font-size: 3.6875rem; }

.font-60 {
  font-size: 3.75rem; }

.u-m-0 {
  margin: 0rem; }
  .u-m-0-l-0 {
    margin-left: 0rem; }
  .u-m-0-t-0 {
    margin-top: 0rem; }
  .u-m-0-r-0 {
    margin-right: 0rem; }
  .u-m-0-b-0 {
    margin-bottom: 0rem; }
  .u-m-0-y-0 {
    margin-top: 0rem;
    margin-bottom: 0rem; }
  .u-m-0-x-0 {
    margin-left: 0rem;
    margin-right: 0rem; }

.u-p-0 {
  padding: 0rem; }
  .u-p-0-l-0 {
    padding-left: 0rem; }
  .u-p-0-t-0 {
    padding-top: 0rem; }
  .u-p-0-r-0 {
    padding-right: 0rem; }
  .u-p-0-b-0 {
    padding-bottom: 0rem; }
  .u-p-0-y-0 {
    padding-top: 0rem;
    padding-bottom: 0rem; }
  .u-p-0-x-0 {
    padding-left: 0rem;
    padding-right: 0rem; }

.u-m-5 {
  margin: 0.3125rem; }
  .u-m-5-l-5 {
    margin-left: 0.3125rem; }
  .u-m-5-t-5 {
    margin-top: 0.3125rem; }
  .u-m-5-r-5 {
    margin-right: 0.3125rem; }
  .u-m-5-b-5 {
    margin-bottom: 0.3125rem; }
  .u-m-5-y-5 {
    margin-top: 0.3125rem;
    margin-bottom: 0.3125rem; }
  .u-m-5-x-5 {
    margin-left: 0.3125rem;
    margin-right: 0.3125rem; }

.u-p-5 {
  padding: 0.3125rem; }
  .u-p-5-l-5 {
    padding-left: 0.3125rem; }
  .u-p-5-t-5 {
    padding-top: 0.3125rem; }
  .u-p-5-r-5 {
    padding-right: 0.3125rem; }
  .u-p-5-b-5 {
    padding-bottom: 0.3125rem; }
  .u-p-5-y-5 {
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem; }
  .u-p-5-x-5 {
    padding-left: 0.3125rem;
    padding-right: 0.3125rem; }

.u-m-10 {
  margin: 0.625rem; }
  .u-m-10-l-10 {
    margin-left: 0.625rem; }
  .u-m-10-t-10 {
    margin-top: 0.625rem; }
  .u-m-10-r-10 {
    margin-right: 0.625rem; }
  .u-m-10-b-10 {
    margin-bottom: 0.625rem; }
  .u-m-10-y-10 {
    margin-top: 0.625rem;
    margin-bottom: 0.625rem; }
  .u-m-10-x-10 {
    margin-left: 0.625rem;
    margin-right: 0.625rem; }

.u-p-10 {
  padding: 0.625rem; }
  .u-p-10-l-10 {
    padding-left: 0.625rem; }
  .u-p-10-t-10 {
    padding-top: 0.625rem; }
  .u-p-10-r-10 {
    padding-right: 0.625rem; }
  .u-p-10-b-10 {
    padding-bottom: 0.625rem; }
  .u-p-10-y-10 {
    padding-top: 0.625rem;
    padding-bottom: 0.625rem; }
  .u-p-10-x-10 {
    padding-left: 0.625rem;
    padding-right: 0.625rem; }

.u-m-15 {
  margin: 0.9375rem; }
  .u-m-15-l-15 {
    margin-left: 0.9375rem; }
  .u-m-15-t-15 {
    margin-top: 0.9375rem; }
  .u-m-15-r-15 {
    margin-right: 0.9375rem; }
  .u-m-15-b-15 {
    margin-bottom: 0.9375rem; }
  .u-m-15-y-15 {
    margin-top: 0.9375rem;
    margin-bottom: 0.9375rem; }
  .u-m-15-x-15 {
    margin-left: 0.9375rem;
    margin-right: 0.9375rem; }

.u-p-15 {
  padding: 0.9375rem; }
  .u-p-15-l-15 {
    padding-left: 0.9375rem; }
  .u-p-15-t-15 {
    padding-top: 0.9375rem; }
  .u-p-15-r-15 {
    padding-right: 0.9375rem; }
  .u-p-15-b-15 {
    padding-bottom: 0.9375rem; }
  .u-p-15-y-15 {
    padding-top: 0.9375rem;
    padding-bottom: 0.9375rem; }
  .u-p-15-x-15 {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem; }

.u-m-20 {
  margin: 1.25rem; }
  .u-m-20-l-20 {
    margin-left: 1.25rem; }
  .u-m-20-t-20 {
    margin-top: 1.25rem; }
  .u-m-20-r-20 {
    margin-right: 1.25rem; }
  .u-m-20-b-20 {
    margin-bottom: 1.25rem; }
  .u-m-20-y-20 {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem; }
  .u-m-20-x-20 {
    margin-left: 1.25rem;
    margin-right: 1.25rem; }

.u-p-20 {
  padding: 1.25rem; }
  .u-p-20-l-20 {
    padding-left: 1.25rem; }
  .u-p-20-t-20 {
    padding-top: 1.25rem; }
  .u-p-20-r-20 {
    padding-right: 1.25rem; }
  .u-p-20-b-20 {
    padding-bottom: 1.25rem; }
  .u-p-20-y-20 {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem; }
  .u-p-20-x-20 {
    padding-left: 1.25rem;
    padding-right: 1.25rem; }

.u-m-25 {
  margin: 1.5625rem; }
  .u-m-25-l-25 {
    margin-left: 1.5625rem; }
  .u-m-25-t-25 {
    margin-top: 1.5625rem; }
  .u-m-25-r-25 {
    margin-right: 1.5625rem; }
  .u-m-25-b-25 {
    margin-bottom: 1.5625rem; }
  .u-m-25-y-25 {
    margin-top: 1.5625rem;
    margin-bottom: 1.5625rem; }
  .u-m-25-x-25 {
    margin-left: 1.5625rem;
    margin-right: 1.5625rem; }

.u-p-25 {
  padding: 1.5625rem; }
  .u-p-25-l-25 {
    padding-left: 1.5625rem; }
  .u-p-25-t-25 {
    padding-top: 1.5625rem; }
  .u-p-25-r-25 {
    padding-right: 1.5625rem; }
  .u-p-25-b-25 {
    padding-bottom: 1.5625rem; }
  .u-p-25-y-25 {
    padding-top: 1.5625rem;
    padding-bottom: 1.5625rem; }
  .u-p-25-x-25 {
    padding-left: 1.5625rem;
    padding-right: 1.5625rem; }

.u-m-30 {
  margin: 1.875rem; }
  .u-m-30-l-30 {
    margin-left: 1.875rem; }
  .u-m-30-t-30 {
    margin-top: 1.875rem; }
  .u-m-30-r-30 {
    margin-right: 1.875rem; }
  .u-m-30-b-30 {
    margin-bottom: 1.875rem; }
  .u-m-30-y-30 {
    margin-top: 1.875rem;
    margin-bottom: 1.875rem; }
  .u-m-30-x-30 {
    margin-left: 1.875rem;
    margin-right: 1.875rem; }

.u-p-30 {
  padding: 1.875rem; }
  .u-p-30-l-30 {
    padding-left: 1.875rem; }
  .u-p-30-t-30 {
    padding-top: 1.875rem; }
  .u-p-30-r-30 {
    padding-right: 1.875rem; }
  .u-p-30-b-30 {
    padding-bottom: 1.875rem; }
  .u-p-30-y-30 {
    padding-top: 1.875rem;
    padding-bottom: 1.875rem; }
  .u-p-30-x-30 {
    padding-left: 1.875rem;
    padding-right: 1.875rem; }

.u-m-35 {
  margin: 2.1875rem; }
  .u-m-35-l-35 {
    margin-left: 2.1875rem; }
  .u-m-35-t-35 {
    margin-top: 2.1875rem; }
  .u-m-35-r-35 {
    margin-right: 2.1875rem; }
  .u-m-35-b-35 {
    margin-bottom: 2.1875rem; }
  .u-m-35-y-35 {
    margin-top: 2.1875rem;
    margin-bottom: 2.1875rem; }
  .u-m-35-x-35 {
    margin-left: 2.1875rem;
    margin-right: 2.1875rem; }

.u-p-35 {
  padding: 2.1875rem; }
  .u-p-35-l-35 {
    padding-left: 2.1875rem; }
  .u-p-35-t-35 {
    padding-top: 2.1875rem; }
  .u-p-35-r-35 {
    padding-right: 2.1875rem; }
  .u-p-35-b-35 {
    padding-bottom: 2.1875rem; }
  .u-p-35-y-35 {
    padding-top: 2.1875rem;
    padding-bottom: 2.1875rem; }
  .u-p-35-x-35 {
    padding-left: 2.1875rem;
    padding-right: 2.1875rem; }

.u-m-40 {
  margin: 2.5rem; }
  .u-m-40-l-40 {
    margin-left: 2.5rem; }
  .u-m-40-t-40 {
    margin-top: 2.5rem; }
  .u-m-40-r-40 {
    margin-right: 2.5rem; }
  .u-m-40-b-40 {
    margin-bottom: 2.5rem; }
  .u-m-40-y-40 {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem; }
  .u-m-40-x-40 {
    margin-left: 2.5rem;
    margin-right: 2.5rem; }

.u-p-40 {
  padding: 2.5rem; }
  .u-p-40-l-40 {
    padding-left: 2.5rem; }
  .u-p-40-t-40 {
    padding-top: 2.5rem; }
  .u-p-40-r-40 {
    padding-right: 2.5rem; }
  .u-p-40-b-40 {
    padding-bottom: 2.5rem; }
  .u-p-40-y-40 {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem; }
  .u-p-40-x-40 {
    padding-left: 2.5rem;
    padding-right: 2.5rem; }

.u-m-45 {
  margin: 2.8125rem; }
  .u-m-45-l-45 {
    margin-left: 2.8125rem; }
  .u-m-45-t-45 {
    margin-top: 2.8125rem; }
  .u-m-45-r-45 {
    margin-right: 2.8125rem; }
  .u-m-45-b-45 {
    margin-bottom: 2.8125rem; }
  .u-m-45-y-45 {
    margin-top: 2.8125rem;
    margin-bottom: 2.8125rem; }
  .u-m-45-x-45 {
    margin-left: 2.8125rem;
    margin-right: 2.8125rem; }

.u-p-45 {
  padding: 2.8125rem; }
  .u-p-45-l-45 {
    padding-left: 2.8125rem; }
  .u-p-45-t-45 {
    padding-top: 2.8125rem; }
  .u-p-45-r-45 {
    padding-right: 2.8125rem; }
  .u-p-45-b-45 {
    padding-bottom: 2.8125rem; }
  .u-p-45-y-45 {
    padding-top: 2.8125rem;
    padding-bottom: 2.8125rem; }
  .u-p-45-x-45 {
    padding-left: 2.8125rem;
    padding-right: 2.8125rem; }

.u-m-50 {
  margin: 3.125rem; }
  .u-m-50-l-50 {
    margin-left: 3.125rem; }
  .u-m-50-t-50 {
    margin-top: 3.125rem; }
  .u-m-50-r-50 {
    margin-right: 3.125rem; }
  .u-m-50-b-50 {
    margin-bottom: 3.125rem; }
  .u-m-50-y-50 {
    margin-top: 3.125rem;
    margin-bottom: 3.125rem; }
  .u-m-50-x-50 {
    margin-left: 3.125rem;
    margin-right: 3.125rem; }

.u-p-50 {
  padding: 3.125rem; }
  .u-p-50-l-50 {
    padding-left: 3.125rem; }
  .u-p-50-t-50 {
    padding-top: 3.125rem; }
  .u-p-50-r-50 {
    padding-right: 3.125rem; }
  .u-p-50-b-50 {
    padding-bottom: 3.125rem; }
  .u-p-50-y-50 {
    padding-top: 3.125rem;
    padding-bottom: 3.125rem; }
  .u-p-50-x-50 {
    padding-left: 3.125rem;
    padding-right: 3.125rem; }

.error-container {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .error-container .error-content .pic-error {
    position: relative;
    float: left;
    max-width: 800px;
    min-width: 400px;
    overflow: hidden; }
    .error-container .error-content .pic-error-parent {
      width: 100%; }
    .error-container .error-content .pic-error-child {
      position: absolute; }
      .error-container .error-content .pic-error-child.left {
        top: 17px;
        left: 220px;
        width: 80px;
        opacity: 0;
        animation-name: cloudLeft;
        animation-duration: 2s;
        animation-timing-function: linear;
        animation-delay: 1s;
        animation-fill-mode: forwards; }
      .error-container .error-content .pic-error-child.mid {
        top: 10px;
        left: 420px;
        width: 46px;
        opacity: 0;
        animation-name: cloudMid;
        animation-duration: 2s;
        animation-timing-function: linear;
        animation-delay: 1.2s;
        animation-fill-mode: forwards; }
      .error-container .error-content .pic-error-child.right {
        top: 100px;
        left: 500px;
        width: 62px;
        opacity: 0;
        animation-name: cloudRight;
        animation-duration: 2s;
        animation-timing-function: linear;
        animation-delay: 1s;
        animation-fill-mode: forwards; }
@keyframes cloudLeft {
  0% {
    top: 17px;
    left: 220px;
    opacity: 0; }
  20% {
    top: 33px;
    left: 188px;
    opacity: 1; }
  80% {
    top: 81px;
    left: 92px;
    opacity: 1; }
  100% {
    top: 97px;
    left: 60px;
    opacity: 0; } }
@keyframes cloudMid {
  0% {
    top: 10px;
    left: 420px;
    opacity: 0; }
  20% {
    top: 40px;
    left: 360px;
    opacity: 1; }
  70% {
    top: 130px;
    left: 180px;
    opacity: 1; }
  100% {
    top: 160px;
    left: 120px;
    opacity: 0; } }
@keyframes cloudRight {
  0% {
    top: 100px;
    left: 500px;
    opacity: 0; }
  20% {
    top: 120px;
    left: 460px;
    opacity: 1; }
  80% {
    top: 180px;
    left: 340px;
    opacity: 1; }
  100% {
    top: 200px;
    left: 300px;
    opacity: 0; } }
  .error-container .error-content .bullshit {
    position: relative;
    float: left;
    width: 300px;
    padding: 30px 0;
    overflow: hidden; }
    .error-container .error-content .bullshit-oops {
      margin-bottom: 20px;
      font-size: 32px;
      font-weight: bold;
      line-height: 40px;
      color: #1890ff;
      opacity: 0;
      animation-name: slideUp;
      animation-duration: 0.5s;
      animation-fill-mode: forwards; }
    .error-container .error-content .bullshit-headline {
      margin-bottom: 10px;
      font-size: 20px;
      font-weight: bold;
      line-height: 24px;
      color: #222;
      opacity: 0;
      animation-name: slideUp;
      animation-duration: 0.5s;
      animation-delay: 0.1s;
      animation-fill-mode: forwards; }
    .error-container .error-content .bullshit-info {
      margin-bottom: 30px;
      font-size: 13px;
      line-height: 21px;
      color: rgba(0, 0, 0, 0.65);
      opacity: 0;
      animation-name: slideUp;
      animation-duration: 0.5s;
      animation-delay: 0.2s;
      animation-fill-mode: forwards; }
@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(60px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }
@font-face {
  font-family: 'iconfont';
  /* Project id 3197878 */
  src: url("//at.alicdn.com/t/font_3197878_wpc8dd28m5j.woff2?t=1647169934336") format("woff2"), url("//at.alicdn.com/t/font_3197878_wpc8dd28m5j.woff?t=1647169934336") format("woff"), url("//at.alicdn.com/t/font_3197878_wpc8dd28m5j.ttf?t=1647169934336") format("truetype"); }
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  vertical-align: middle; }

#__nuxt, #__layout {
  min-width: 100%;
  min-height: 100%; }

#__layout {
  height: 100vh; }

.page-enter,
.page-leave,
.page-enter-active,
.page-leave-active {
  transition: all .3s ease-out 0s; }

.page-enter,
.page-leave-active {
  opacity: 0; }

.page-enter-active {
  transform: translateY(0); }

.page-enter {
  transform: translateY(50px); }

.page-leave-active {
  transform: translateY(-50px); }

.ant-form label {
  margin-bottom: 0; }

.anticon {
  vertical-align: text-top; }

/*# sourceMappingURL=main.css.map */
