@charset "utf-8";
@import "functions";
@import "variables";

html{
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  font-size: $font-size-base;
}

@import "base";
@import "error";

#__nuxt, #__layout {
  min-width: 100%;
  min-height: 100%;
}

#__layout {
  height: 100vh;
}
